{% extends 'landing/base.html' %}

{% block title %}Promo{% endblock %}

{% block content %}
<header id="top">
	<div class="wrapper">
		<div class="intro">
			<h1>Розклад твого університету</h1>
			<p>Нарешті онлайн та не в PDF</p>
		</div>
	</div>
</header>
<nav class="nav-panel">
	</script>
	<ul>
		<li>
			<a href="{% url 'home' %}#top"></a>
		</li>
		<li>
			<a href="{% url 'home' %}#description">Що це</a>
		</li>
		<li>
			<a href="{% url 'home' %}#features">Можливості</a>
		</li>
		<li>
			<a href="{% url 'home' %}#subscribe">Підписатися</a>
		</li>
		<li>
			<a href="{% url 'about' %}">Про розклад</a>
		</li>
	</ul>
</nav>
<section id="description">
	<h2>Що це</h2>
	
	<p>NAU timetable &mdash; застосунок для перегляду розкладу занять <a href="http://nau.edu.ua" target="_blank">Національного Авіаційного університету.</a></p>
</section>
<section id="features">
	<h2>Можливості</h2>
	<ul>
		<li>перегляд розкладу групи (дізнайся, яка зараз пара)</li>
		<li>редагування розкладу (доступне командирам груп)</li>
		<li>перегляд розкладу викладача</li>
		<li>перегляд графіку екзаменів та практики</li>
		<li>канікули</li>
	</ul>
</section>
<section id="subscribe">
	<h2>Підпишіться</h2>

	<p>Застосунок перебуває у стані розробки. Для того, щоб дізнатися про запуск одним з перших, підпишіться на розсилку.</p>
	{% include 'landing/subscription_form.html' %}
</section>
{% endblock content %}

{% block head_block %}
{{ block.super }}
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif;  width:60%;}
</style>
{% endblock head_block %}