{% extends 'landing/base.html' %}

{% block title %}Promo{% endblock %}

{% block content %}
<header id="top" class="block-section block__hero">
	<section class="intro">
		<h1>Розклад твого університету</h1>
		<p>Нарешті онлайн та не в PDF</p>
	</section>
</header>
{% include 'landing/navbar.html' %}
<section id="description" class="block-section block__description">
	<article class="info-block">
		<h2>Що це</h2>
		<p>NAU timetable &mdash; застосунок для перегляду розкладу занять <a href="http://nau.edu.ua" target="_blank">Національного Авіаційного університету</a>.</p>
	</article>
</section>
<section id="features" class="block-section block__features">
	<article class="info-block">
		<h2>Можливості</h2>
		<ul>
			<li>перегляд розкладу групи (дізнайся, яка зараз пара)</li>
			<li>редагування розкладу (доступне командирам груп)</li>
			<li>перегляд розкладу викладача</li>
			<li>перегляд графіку екзаменів та практики</li>
			<li>канікули</li>
		</ul>
	</article>
</section>
<section id="subscribe" class="block-section block__subscribe">
	<article class="info-block">
		<h2>Підпишіться</h2>
		<p>Застосунок перебуває у стані розробки. Для того, щоб дізнатися про запуск одним з перших, підпишіться на розсилку.</p>
		{% include 'landing/subscription_form.html' %}
	</article>
</section>
{% endblock content %}

{% block head_block %}
{{ block.super }}
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif;  width:60%;}
</style>
{% endblock head_block %}