/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,200,600&subset=latin,cyrillic,cyrillic-ext);*/

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 0;
}

body>section,
body>footer {
	padding-top: 1px;
}

a {
	color: #CCDDEE;
}

a:link {
	color: #CCDDFF;
}

a:visited {
	color: #967474;
}

a:hover {
	color: #344671;
}

.block__hero, .block__description {
	height: 100vh;
}

.block__hero {
	background-image: url('../img/hero_image.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.block__hero:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
	opacity: .8;
}


.block__hero .intro {
	/*padding: 3rem;*/
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 30em;
	float: right;
}

/*.block__hero */h1 {
	color: #fff;
	font-size: 3rem;
	line-height: 1em;
	letter-spacing: -0.025em;
	font-weight: 400;
	text-align: left;
}

.block__hero p {
	color: #fff;
	line-height: 1.5em;
	font-size: 1.3rem;
	font-weight: 200;
	text-align: left;
	margin-bottom: 2rem;
}

.block__about {
	/*padding-left: 3vw;
	padding-right: 3vw;*/
	text-align: center;
	padding: 20px;
}

.block__features {
	text-align: center;
	height: 110vh;
}

.block__video {
	text-align: center;
}

.block__video video {
	width: 640px;
	height: 360px;
}

/*.block__subscribe {
	background: #44984D;
}*/

.event {
	display: inline-block;
	width:30vw;
	height:20vh;
	padding: 10px;
	margin: 10px;
	border: 1px solid red;
	border-radius: 3px;
	text-align: justify;
	box-shadow: 5px 3px 3px 0 rgba(0, 0, 0, 0.26);
}

.nav-panel {
	height: 7vh;
	background: rgb(41,41,41);
	background: rgba(41,41,41,0.65);
	top: -7vh;
	position: relative;
	margin-bottom: -7vh;
}


.nav-panel ul {
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
	font-size: 3vh;
	text-align: center;
}

.nav-panel ul li {
	display: inline-block;
	font-size: 3vh;
	padding: 2vh 0;
}

.nav-panel a {
	color: white;
	text-decoration: none;
	padding: 2vh 4.5vh;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

/*.info-block {
	height: 90vh;
	padding-top: 7vh;
}
*/
.info-block {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
/*.info-block */h2 {
	font-size: 2rem;
	text-align: center;
}

.info-block p {
	font-size: 1.5rem;
	/*line-height: 1.1rem;*/
	text-align: center;
}

.feature-block {
	display: inline-table;
	max-width: 25%;
	background: rgb(220, 220, 220);
	background: rgba(220, 220, 220, 0.43);
	font-size: 1em;
	text-align: center;
	margin: 0.5em;
	height: 13em;
	width: 15em;
	padding: 0.5em;
    border-radius: 1em;
}

.feature-block img {
    margin-top: 2em;
}

.feature-block p {
	font-size: 1em;
	/*margin: 3px;*/
	display: table-row;
}

.event * {
	line-height: 1.3vh;
}

.event h2 {
	font-size: 3vh;
	float: left;
	margin: 2vh 0;
	text-align: left;
}

.event-date {
	font-size: 1.3vh;
	margin: 2vh 10px;
	text-align: right;
}
