@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,200,600&subset=latin,cyrillic,cyrillic-ext);

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 0;
}

body>section,
body>footer {
	padding-top: 1px;
}

a {
	color: #CCDDEE;	
}

a:link {
	color: #CCDDFF;	
}

a:vlink {
	color: #967474;	
}

a:alink {
	color: #344671;	
}

#top, #description, #features {
	height: 100vh;
}
#top {
	background: none;
}

#top:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
    opacity: .8; }


#top .intro {
    padding: 3rem;
    position: relative;
    top: 50%;
  	transform: translateY(-50%);
    width: 30em;
    float: right; }

 #top h1 {
    color: #fff;
    font-size: 3rem;
    line-height: 1em;
    letter-spacing: -0.025em;
    font-weight: 400;
    text-align: left; }

#top p {
    color: #fff;
    line-height: 1.5em;
    font-size: 1.3rem;
    font-weight: 200;
    text-align: left;
    margin-bottom: 2rem; }



#description {
	/*background: #FFB932;*/
}
#features {
	/*background: #0077D0;*/
}
#subscribe {
	/*background: #44984D;*/
}

#top .wrapper {
	background-image: url('../img/hero_image.jpg');
	background-repeat: no-repeat;
	background-size: cover;

	height: inherit;
	width: 100%;

}

.nav-panel {
	height: 7vh;
    background: rgba(41,41,41,0.65);
    top: -7vh;
    position: relative;
    margin-bottom: -7vh;
}


.nav-panel ul {
	margin: 0;
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
	font-size: 3vh;
	text-align: center;
} 

.nav-panel ul li {
	display: inline-block;
	font-size: 3vh;
	padding: 2vh 0;

}

.nav-panel a {
    color: white;
    text-decoration: none;
	padding: 2vh 4.5vh;
}

.sticky {
	position: fixed;
	top:0;
	width:100%;
}
