<h1>Найближчі заходи</h1>
<md-content class="md-padding" layout="row" layout-wrap layout-align="center start">
<div  layout="column">
<md-card *ngFor="#event of events">
    <md-card-title>
        <md-card-title-text>
            <span class="md-title">{{event.name}}</span>
            <span class="md-subhead">
                {{event.date}}
                <a href="{{event.room}}">{{event.room_full_name}}</a>
            </span>
        </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
        <a [routerLink]="['EventDetail', {id:event.id}]"><button md-button>Детальніше</button></a>
    </md-card-actions>
    <md-card-content *ngIf="event.description">
        <p>{{event.description}}</p>
    </md-card-content>
</md-card>
</div>
</md-content>