<form (ngSubmit)="onSubmit()" #eventForm="ngForm">
  <input type="text" name="name" maxlength="140"/>
  <input type="text" name="description" />
  <input type="datetime" name="date" />
  <section id="options" *ngIf="options"><select name="type">
    <option *ngFor="#toption of options.type.choices" value="{{toption.value}}">{{toption.display_name}}</option>
  </select>
  <select name="room">
    <option *ngFor="#roption of options.room.choices" value="{{roption.value}}">{{roption.display_name}}</option>
  </select>
  </section>
  <input type="submit" value="Submit">
</form>