
<section layout="column" layout-align="start" class="md-inline-form md-whiteframe-3dp form-wrapper" style="width: 500px;">
  <md-content layout-padding class="form">
    <form (ngSubmit)="onSubmit()" id="regForm">

      <md-input-container class="md-block" flex-gt-sm>
        <label for="eventName">Ім'я та прізвище</label>
        <input md-input type="text" name="name" maxlength="140" id="eventName"
              required/>
        <div class="alert" >Введіть своє ім'я</div>
      </md-input-container>

      <md-input-container class="md-block" flex-gt-sm>
        <label for="userName">Бажане ім'я користувача</label>
        <input md-input type="text" name="name" maxlength="140" id="userName"
              required />
        <div class="alert">Введіть ім'я користувача</div>

      </md-input-container>


      <section id="options" layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label for="type">Тип користувача</label>
          <select name="type" required [(ngModel)]="event.type"
                  ngControl="eventType" #eventType="ngForm">
            <option value="teacher">Викладач</option>
            <option value="student">Студент</option>
          </select>
        </md-input-container>

      <button md-raised-button class="md-raised md-primary" type="submit"
              [disabled]="!eventForm.form.valid">Створити користувача</button>
      </section>
    </form>
  </md-content>
</section>
